:root {
  /* COLOR */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  /* SPACING */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;

  /* FONT */
  /* FONT WEIGHT */
  --bold: 700;
  --regular: 400;
  /* FONT SIZE */
  --fs-title: 22px;
  --fs-body: 15px;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: var(--regular);
}

body {
  min-height: 100dvh;
  background-color: var(--slate-300);
  position: relative;
}

.card {
  width: 320px;
  height: 499px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Border radius not working on image and its wrapper */
.card .qr-wrapper {
  margin: auto;
  width: 288px;
  height: 288px;
  margin-top: var(--space-200);
  padding-bottom: var(--space-300);
}

.card .qr-wrapper .qr-code {
  width: 288px;
  height: 288px;
  display: block;
  border-radius: 3%; /* Border Radius must be applied on the image */
}

.card .card-text-area {
  width: calc(288px - 2 * var(--space-200));
  margin: auto;
  text-align: center;
}

.card .card-text-area .card-title {
  font-weight: var(--bold);
  font-size: var(--fs-title);
  color: var(--slate-900);
  padding-bottom: var(--space-200);
  line-height: 1.2;
}

.card .card-text-area .card-info {
  font-size: var(--fs-body);
  color: var(--slate-500);
  line-height: 1.4;
}
